# Dependencies
node_modules/
dist/

# Python virtual environment & cache
venv/
.env
!frontend/.env
!frontend/.env.example
__pycache__/
*.pyc

# IDEs & System
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
